http://localhost {
    reverse_proxy /events events:3000 {

    }

    reverse_proxy /tickets tickets:3000 {

    }

     reverse_proxy /reservetickets tickets:3000 {

    }

     reverse_proxy /addevent events:3000 {

    }
}