http://localhost {
    reverse_proxy /events events:3000 {

    }

    reverse_proxy /tickets tickets:3000 {

    }

     reverse_proxy /reserveticket tickets:3000 {

    }

     reverse_proxy /addevent events:3000 {  

    }
    
     reverse_proxy /deleteticket tickets:3000 {

    }

     reverse_proxy /searchtickets events:3000 {  

    } 

     reverse_proxy /deleteevent events:3000 {  

    }


}